alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
alias mkiso="hdiutil makehybrid -iso -joliet -o"
alias python=/usr/bin/python3

# git shortcuts
alias gps="git push"
alias gpl="git pull"
alias gfrs="git flow release start"
alias gfrf="git flow release finish"
alias gfhs="git flow hotfix start"
alias gfhf="git flow hotfix finish"
alias gffs="git flow feature start"
alias gfff="git flow feature finish"

# fix bash completion with aliases
if [ -z "$(type -p)" ]; then
  __git_complete gpl _git_pull
  __git_complete gps _git_push
fi
